<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photo Storage</title>
    <script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var searchButton = document.getElementById("btn-search");
        var searchInput = document.getElementById("search-term");

        searchButton.onclick = function () {
            window.location.href = "@Url.Action("Search", "Photos")" + "?searchTerm=" + searchInput.value;
        };

        searchInput.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                searchButton.click();
            }
        });
    });
    </script>
</head>
<body>
    <div>
        <input type="text" id="search-term">
        <button id="btn-search">Search</button>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Photo Storage</p>
        </footer>
    </div>
</body>
</html>